@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Baloo Tammudu 2', open-sans;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  color: black;
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 9px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

form input {
  border-radius: 8px;
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 2px solid red;
}

form button {
  border: none;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 35px;
}

form button:hover {
  background-color: teal;
}

form button:active {
  background-color: red;
}
